#content {
    overflow: auto; 
    margin: 0 auto; 
    width: 1024px;
    height: 640px;
    background-image: url(pics/background.jpg);
}

#line {
    width: 1024px;
    height: 70px;
    margin: 0 auto;
    margin-top: 570px;
    background-color: #000;
    opacity: 0.5;
}

#icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 584px;
}

.windowDivHeader {
    background-color: #fff;
    height: 50px;
    font-size: 1.5em;
    font-family: "verdana";
}

.windowDivFooter{
    background-color: #fff;
    height: 30px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.iconClose{
    width: 25px;
    float: right;
}

.left {
    width: 25px;
    float: left;
}

.right {
    width: 25px;
    margin-left: 10px;
}

.hide {
    display: none;
}

.thumbNail {
  display: block;
  margin-left: auto;
  margin-right: auto;
}