#container {overflow: auto; margin: 0 auto; width: 1000px; height: 1000px; background-color: #289F15;}
#header {text-align: center; font-family: "Fascinate", cursive; font-size: 4em; padding-bottom: 30px; padding-top: 50px;}

#content {margin: 0 auto; background-color: #FFF; width: 300px; border-radius: 5px;}
#boardgame {margin: 0 auto; width: 110px; padding: 20px;}

.result {text-align: center; font-family: Verdana; font-size: 1.2em;}